:root {
    --width: 1280px;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}

.hidden {
    display: none;
}

.inner {
    width: 1280px;
    margin: 0 auto;
}

.f_layout {
    margin: 0 0 120px 0;
    padding: 60px 0 50px;
}

.f_layout .inner {
    display: flex;
    gap: 50px;

}


.sect-tit {
    width: 270px;
    font-size: 35px;
    color: #000;
    font-weight: bold;
}

.cont-wrap {
    flex: 1;
    overflow: hidden;
}

.shop-list.type-vert .shop-box {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.shop-list .shop-box {
    position: relative;
    display: flex;
    margin: 0 0 40px;
    color: #757575;
    gap: 14px;
    flex-direction: column;
}

.shop-list.type-vert .shop-box .thumb .img {
    border: 1px solid #f7f1e7;
    width: 180px;
    display: block;
    transition: box-shadow .25s ease;
}

.shop-list .shop-box .thumb .img {
    border: 1px solid #f7f1e7;
    width: 300px;
    display: block;
    transition: box-shadow .25s ease;
}

.shop-list .shop-box .thumb:hover .img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shop-list .shop-box a.info {
    margin: 0 auto;
    font-size: 13px;
    text-align: left;
    position: relative;
}

.shop-list .shop-box a.info .name {
    font-size: 19px;
    color: #000000;
    font-weight: bold;
    padding: 0 0 5px;
}

.shop-list .shop-box a.info .decs {
    font-size: 15px;
    color: #aaaaaa;
    margin-bottom: 10px;
}

.shop-list .shop-box a.info .orgi {
    font-size: 15px;
    color: #aaaaaa;
    display: block;
}

.shop-list .shop-box a.info .curr {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.shop-list .shop-box a.info .sale {
    font-size: 22px;
    z-index: 10;
    font-weight: bold;
    font-weight: 700;
    padding-left: 6px;
    color: #2f8be0;
}

.shop-list .thumb {
    position: relative;
}

.shop-list .thumb .cart {
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin: 0 6px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    opacity: 0;

}

.shop-list .thumb:hover .cart {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
}